<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <%=link_to task_path(task) do%>
      <li><%= task.title  %></li>
    <% end %>

    <%= link_to "Delete",
      task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <%# <li><%= link_to task.title, task_path(task) </li> %>
  <% end %>

</ul>
<%= link_to "Add a new task", new_task_path %>
